// Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$briightCyan: hsl(192, 70%, 51%);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// padding left
$left-padding: 8em;
// General
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
}
// Navbar
.nav {
    position: relative;
    background-color: $white;
    height: 5em;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    z-index: 3;
}

.nav__logo {
    height: max-content;
}

.nav__tags {
    display: flex;
    flex-direction: row;

    p {
        color: $grayishBlue;
        padding: 1em;
        font-weight: 400;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: $limeGreen;
            height: 4px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover:before {
            right: 0;
        }
    }
}
.nav__button {
    padding: 1em 2em;
    border: none;
    border-radius: 50px;
    color: $white;
    background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );

    &:hover {
        opacity: 0.8;
    }
}

main {
    display: none;
}
// hero section
.div__hero-section {
    background: #fff;
    // padding: 2em 0 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: top -200px right -280px;
}
.div__description {
    width: 50%;
    padding: 7em $left-padding;

    .div__heading {
        padding-bottom: 1em;
        h1 {
            font-size: 3em;
            font-weight: 400;
            padding: 0.1em;
        }
    }

    .div__p {
        line-height: 30px;
        padding-bottom: 2em;
        color: $grayishBlue;
        text-align: left;
    }
}
.div__svg {
    position: absolute;
    top: -35px;
    right: -130px;
    z-index: 1;
}
// why choose easybank
.div__easybank {
    background-color: $lightGrayishBlue;
    padding: 4em $left-padding;

    .easybank__heading {
        h1 {
            font-weight: 400;
        }

        p {
            width: 38em;
            padding: 1em 0 4em 0;
            color: $grayishBlue;
            line-height: 1.5em;
        }
    }
}

// Easybank cards
.easybank__cards__container {
    display: flex;
    flex-direction: row;

    .cards {
        margin: 1em;

        h3 {
            font-weight: 400;
            padding: 1em 0;
        }
        p {
            font-size: 15px;
            color: $grayishBlue;
            line-height: 1.5em;
        }
    }
}
// attribution
.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
