html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
}

.nav {
  position: relative;
  background-color: white;
  height: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 3;
}

.nav__logo {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.nav__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__tags p {
  color: #9698a6;
  padding: 1em;
  font-weight: 400;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav__tags p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #31d35c;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav__tags p:hover:before {
  right: 0;
}

.nav__button {
  padding: 1em 2em;
  border: none;
  border-radius: 50px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.nav__button:hover {
  opacity: 0.8;
}

main {
  display: none;
}

.div__hero-section {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80vh;
  background-image: url("../images/bg-intro-desktop.svg");
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: top -200px right -280px;
}

.div__description {
  width: 50%;
  padding: 7em 8em;
}

.div__description .div__heading {
  padding-bottom: 1em;
}

.div__description .div__heading h1 {
  font-size: 3em;
  font-weight: 400;
  padding: 0.1em;
}

.div__description .div__p {
  line-height: 30px;
  padding-bottom: 2em;
  color: #9698a6;
  text-align: left;
}

.div__svg {
  position: absolute;
  top: -35px;
  right: -130px;
  z-index: 1;
}

.div__easybank {
  background: #f3f4f6;
  padding: 6em 8em;
}

.div__easybank .easybank__heading h1 {
  font-weight: 400;
}

.div__easybank .easybank__heading p {
  width: 38em;
  padding: 1em 0 4em 0;
  color: #9698a6;
  line-height: 1.5em;
}

.easybank__cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.easybank__cards__container .cards {
  margin: 1em 1em 1em 0;
}

.easybank__cards__container .cards h3 {
  font-weight: 400;
  padding: 1em 0;
}

.easybank__cards__container .cards p {
  font-size: 15px;
  color: #9698a6;
  line-height: 1.5em;
}

.div__latest__article {
  background: #fafafa;
  padding: 6em 8em;
}

.div__latest__article h1 {
  font-weight: 400;
  padding-bottom: 1em;
}

.div__latest__article .cards {
  width: 15em;
  background-color: white;
  border-radius: 5px;
  margin-right: 3em;
  z-index: 10;
}

.div__latest__article .cards-content {
  padding: 1em;
}

.div__latest__article .cards-content h3 {
  padding: 0.2em 0;
}

.article__img {
  width: 15em;
  z-index: 0;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */